<img src="{{ document.photo_data.url }}" alt="img" class="img-responsive img-rounded" width="50%" height="50%">
{% if user == document.author %}
<a href="{% url 'add_tag' pk=document.pk %}">
<h3> Add Tag </h3>
</a>
{% endif %}
<hr>
{% for tag in tags %}
	<a href ="{% url 'tag_list' tag=tag.tag_text %}"> 
	{{ tag.tag_text }}
	</a>

{% empty %}
	<p>No tags here </p>
{% endfor %}
<hr>
{% for com in comments %}
    <div class="comment">
        <div class="date">{{ com.created_date }}</div>
        <strong>{{ com.author }}</strong>
        <p>{{ com.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
<a class="btn btn-default" href="{% url 'add_comment_to_post' pk=document.pk %}">Add comment</a>