{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<div class="container">
<p>
    {{ user }}
    {{user.last_name}}
    <br> {{user.email}}
    <br>
    {% if user == cuser %}
        <a href="{%url 'upload' %}"> Upload A Photo </a><br>
        <a href="{% url 'album_up' %}"> Create an album </a>
    {% else %}
        {% if user in friends %}
            <a href="{% url 'change_friends' operation='remove'  pk=user.pk %}">
            <button type="button" class="btn btn-default">Unfriend</button>
            </a>
        {% else %}
            <a href="{% url 'change_friends' operation='add'  pk=user.pk %}">
            <button type="button" class="btn btn-default">Send Friend Request</button>
            </a>
        {% endif %}
    {% endif %}
</p>
</div>
    {% if documents %}
        <ul>
        {% for document in documents %}
            {% if document.author == user %}
            <img src="{{ document.photo_data.url }}" alt="img" class="img-responsive img-rounded" width="50%" height="50%">
            </a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}


    <h2>Friends</h2>
    {% if user == cuser %}
        {% for friend in friends %}
        <a href="{% url 'profile' username=friend %}" >
            <h3>{{ friend.username }}</h3>
        </a>

    {% endfor %}

    {% else %}

        These are the friends
    {% endif %}

    <h2>Albums </h2>
    {% if albums %}
        {% for album in albums %}
        <a href="{% url 'album' album_name=album.album_name %}">
            <h3>{{ album.album_name }}</h3></a>
        {% endfor %}
    {% else %}
        <p> no albums </p>
    {% endif %}

{% endblock %}

