{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<div class="container">
<p>
	{{ user }}
	{{user.last_name}}
	<br> {{user.email}}
	<br>
	<a href="{%url 'upload' %}"> Upload A Photo </a>
</p>
</div>
    {% if documents %}
        <ul>
        {% for document in documents %}
        	{% if document.author == user %}
        	<img src="{{ document.photo_data.url }}" alt="img" class="img-responsive img-rounded">
            </a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}
{% endblock %}