<!DOCTYPE html>
<html>
<title>Register</title>

<body>


 <form action="/register/" method="post"> {%csrf_token%}
  First name:<br>
  <input id ="first_name" type="text" name="first_name"/><br>
  Last name:<br>
  <input if = "last_name" type="text" name="last_name"/><br>
  Email:<br>
  <input id = "email" type="text" name="email"/><br>
  Home town:<br>
  <input id = "home_town" type="text" name="home_town"/><br>
  Gender:<br>
  <input id = "gender" type="text" name="gender"/><br>
  Password:<br>
  <input id = "password" type="text" name="password"/><br>
  Date of birth:<br>
  <input id = "date_of_birth" type="text" name="date_of_birth"/>
  <input type="submit" value="Submit"/>

</form> 


</body>


</html>
