<!DOCTYPE html>
<html>
<title>Register</title>

<body>


 <form action="{% url 'register' %}" method="post"> {%csrf_token%}
  First name:<br>
  <input type="text" name="first_name"/><br>
  Last name:<br>
  <input type="text" name="last_name"/><br>
  Email:<br>
  <input type="text" name="email"/><br>
  Home town:<br>
  <input type="text" name="home_town"/><br>
  Gender:<br>
  <input type="text" name="gender"/><br>
  Password:<br>
  <input type="text" name="Password"/><br>
  Date of birth:<br>
  <input type="text" name="date_of_birth"/>
  <input type="submit" value="Submit"/>

</form> 


</body>


</html>
